<nav class="navbar navbar-expand-lg bd-navbar sticky-top navbar-light" style="background-color: #cacfd4;" >
  <div class="container-fluid">
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />

    <ul class="nav nav-pills">
      <li class="nav-item text-white">
        <span class="nav-link text-black text-decoration">Buscar por:</span>
      </li>
      <li routerLink="countries/by-capital" routerLinkActive="active"
      class="nav-item nav-link nav-link-hover">
        Capital
      </li>
      <li routerLink="countries/by-country" routerLinkActive="active"
      class="nav-item nav-link nav-link-hover">
        País
      </li>
      <li routerLink="countries/by-region" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      class="nav-item nav-link nav-link-hover">
        Región
      </li>
    </ul>

  </div>
</nav>
