<div  *ngIf="countries.length === 0; else table" class="alert alert-warning text-center" role="alert">
  No hay países que mostrar
</div>

<ng-template #table>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Iso</th>
      <th scope="col">Bandera</th>
      <th scope="col">Nombre</th>
      <th scope="col">Capital</th>
      <th scope="col">Población</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{ country.flag }}</td>
      <td > <img [src]="country.flags.svg" [alt]="country.name.common"> </td>
      <td>{{ country.name.common }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.population | number }}</td>
      <td><a [routerLink]="['/countries/by',country.cca3]">Ver más</a></td>
    </tr>
  </tbody>
</table>
</ng-template>

